.DS_Store
laravel/tags
# laravel/.env
laravel/vendor/
laravel/node_modules/
laravel/public/mix-manifest.json
laravel/public/js/
laravel/public/css/
laravel/database/database.sqlite
laravel/resources/assets/js/npm-debug.log

laravel/nuts/api/vendor

mariadb/
mariadb_testing/
