$primary: $turquoise !default

$info: $blue !default
$success: $green !default
$warning: $yellow !default
$danger: $red !default

$light: $white-ter !default
$dark: $grey-darker !default

// Invert colors

$orange-invert: findColorInvert($orange) !default
$yellow-invert: findColorInvert($yellow) !default
$green-invert: findColorInvert($green) !default
$turquoise-invert: findColorInvert($turquoise) !default
$blue-invert: findColorInvert($blue) !default
$purple-invert: findColorInvert($purple) !default
$red-invert: findColorInvert($red) !default

$primary-invert: $turquoise-invert !default
$info-invert: $blue-invert !default
$success-invert: $green-invert !default
$warning-invert: $yellow-invert !default
$danger-invert: $red-invert !default
$light-invert: $dark !default
$dark-invert: $light !default

// General colors

$background: $white-ter !default

$border: $grey-lighter !default
$border-hover: $grey-light !default

// Text colors

$text: $grey-dark !default
$text-invert: findColorInvert($text) !default
$text-light: $grey !default
$text-strong: $grey-darker !default

// Code colors

$code: $red !default
$code-background: $background !default

$pre: $text !default
$pre-background: $background !default

// Link colors

$link: $primary !default
$link-invert: $primary-invert !default
$link-visited: $purple !default

$link-hover: $grey-darker !default
$link-hover-border: $grey-light !default

$link-focus: $grey-darker !default
$link-focus-border: $primary !default

$link-active: $grey-darker !default
$link-active-border: $grey-dark !default

// Typography

$family-primary: $family-sans-serif !default
$family-code: $family-monospace !default

$size-small: $size-7 !default
$size-normal: $size-6 !default
$size-medium: $size-5 !default
$size-large: $size-4 !default

// Lists and maps

//$colors: ("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert)) !default
$shades: ("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $grey-darker, "grey-dark": $grey-dark, "grey": $grey, "grey-light": $grey-light, "grey-lighter": $grey-lighter, "white-ter": $white-ter, "white-bis": $white-bis) !default

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default

//////////////////////////////////////////////
//////////////////////////////////////////////
// 5. adding and override

$koiai: #002E4E !default
$koiai-secondary: #1960b7 !default
$koiai-invert: findColorInvert($koiai) !default
$koiai-secondary-invert: findColorInvert($koiai-secondary) !default

$nadeshiko: #F6ADC6 !default
$nadeshiko-secondary: #ee6896 !default
//$nadeshiko-invert: findColorInvert($nadeshiko) !default
$nadeshiko-invert: rgba(204, 3, 72, 1) !default
$nadeshiko-secondary-invert: findColorInvert($nadeshiko-secondary) !default

$mikan: #f08300 !default
$mikan-secondary: #ffc112 !default
$mikan-invert: findColorInvert($mikan) !default
$mikan-secondary-invert: findColorInvert($mikan-secondary) !default

$sumire: #7058a3 !default
$sumire-secondary: #b688ff !default
$sumire-invert: findColorInvert($sumire) !default
$sumire-secondary-invert: findColorInvert($sumire-secondary) !default

$moegi: #aacf53 !default
$moegi-secondary: #aacf53 !default
//$moegi-invert: findColorInvert($moegi) !default
$moegi-invert: rgb(26, 88, 1) !default
$moegi-secondary-invert: findColorInvert($moegi-secondary) !default

$colors: (
    white: ($white, $black), black: ($black, $white),
    light: ($light, $light-invert),
    dark: ($dark, $dark-invert),

    primary: ($primary, $primary-invert),
    info: ($info, $info-invert),
    success: ($success, $success-invert),
    warning: ($warning, $warning-invert),
    danger: ($danger, $danger-invert),

    koiai: ($koiai, $koiai-invert), 
    nadeshiko: ($nadeshiko, $nadeshiko-invert), 
    mikan: ($mikan, $mikan-invert), 
    sumire: ($sumire, $sumire-invert), 
    moegi: ($moegi, $moegi-invert), 

    koiai-secondary: ($koiai-secondary, $koiai-secondary-invert), 
    nadeshiko-secondary: ($nadeshiko-secondary, $nadeshiko-secondary-invert), 
    mikan-secondary: ($mikan-secondary, $mikan-secondary-invert), 
    sumire-secondary: ($sumire-secondary, $sumire-secondary-invert), 
    moegi-secondary: ($moegi-secondary, $moegi-secondary-invert), 
) !default
