{
    "processors": ["stylelint-processor-html"],
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "string-quotes": "double"
    },
    "ignoreFiles" :"resources/assets/js/test/*.*"
}
