body { 
    padding-top: 35px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #f3f3f3;
}

.date-styling {
    font-size: 1.4em;
    font-weight: bold;
}
.today {
    background: red;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}
.saturday {
    background: rgba(240, 240, 255, 1);
}
.sunday {
    background: rgba(255, 240, 240, 1);
}

.main-panel {
    width: 100%;
    border-radius: 8px;
}
